@media  screen and (max-width:480px){
    .d1{
            height: 7.6%;
            right: 9%;
            width: 90%;
            position:fixed;
            top: 20px;
            background-color:#d3e5f8;
            border-radius: 30px;
            left: 5%;
    }
    .w1{
        position:fixed ;
        top: 23px;
        font-size: 27px;
        left: 11%;
        color : black;
        
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .r1{
        position:fixed ;
        top: 23px;
        font-size: 27px;
        left: 42%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .t1{
        position:fixed ;
        top: 23px;
        font-size: 27px;
        left: 73%;
        color: #0277B5;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .d2{
        height: 84%;
            right: 9%;
            width: 90%;
            position:fixed ;
            top: 100px;
            background-color: #e2ebf4;
            border-radius: 40px;
            left: 5%;
            
    
    }
    .d3{
        height: 45%;
            right: 20%;
            width: 77%;
            position:fixed ;
            top: 209px;
            background-color: #ffffff;
            border-radius: 40px;
            left: 12%;
    }
    .d4{
        height: 11.5%;
        right: 20%;
        width: 77%;
        position:fixed;
        top: 208px;
        background-color:#d3e5f8;
        border-radius: 40px;
        left: 12%;
    }


.line{
    background-color: #0277B5;
    height: 1%;
    width: 18%;
    position:fixed;
    top: 71px;
    right: 11%;
    cursor: pointer;
}
.t2{
    color: black;
    top: 229px;
    position:fixed ;
    left: 29%; 
    font-size: 29px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
    .ti{
        color: black;
    top: 375px;
    position:fixed ;
    left: 22.5%; 
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
    .ti2{
        background-color: #f4f7fe;
        height: 5%;
        left: 22%;
        width: 60%;
        position:fixed ;
        top: 415px;
        border: 0px solid #f4f7fe;
        font-family: 'Rubik', sans-serif;
        padding-left: 10px;
        font-size: 25px;
    }
    .next{
        background-color: #0277B5;
        height: 5%;
        width: 25%;
        position:fixed ;
        top: 515px;
        right: 37%; 
        border-radius: 20px;
        cursor: pointer;
    }
        .next1{
        
        height: 5%;
        width: 25%;
        position:fixed ;
        top: 521px;
        right: 29%; 
        border-radius: 20px;
        cursor: pointer;
        font-size: 20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }
    input::placeholder{
        font-size: 22px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 1px;
        padding-top: 1px;
    }
        .fa-circle-user{
            top: 133px;
            position: fixed;
           font-size: 34px;
           color: rgb(26, 27, 28);
            left: 83%;
        }
     
        .fa-id-card{
            top: 261px;
        position: fixed;
       font-size: 28px;
       color: #d0cdcd;
        left: 20%
        }
        .fas{
            top: 260px;
        position: fixed;
       font-size: 30px;
       color: #767171;
        left: 74%;
        
        }
    
}
            
    
            
