.div1{
    background-color: #d3e5f8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.div2{
    background-color: #e2ebf4;
}
.div3{
    background-color: #e2ebf4;
    
}
.div33{
    background-color: #e2ebf4;
    
}
.track{
    color: #0277B5;
}

.done{

    color: black;
    background-color: #0277B5;
    font-family: "Protest Strike", sans-serif;
}


@media  screen and (max-width: 480px){
   
    .div1{ 
        display: flex;
        height: 60px;
     
        border-radius: 30px;
      
    align-items: center;
      justify-content: space-around;
       line-height: 6px;
     
        font-size: 27px;
        margin: 20px auto;
    }
    .div1  p{
        
        list-style: none;
        display: inline-block;
        margin: 0 19px;
        position: relative;
    }
  
    .hii{
        
        color: #0277B5;
    }
    .div1  p a{
        text-decoration: none;
        color:black;
     
    }

    .hii::before{
        content: '';
        height: 7px;
      color: #0277B5;
        width: 100%;
        background: #0277B5;
        position: absolute;
        left: 0;
        bottom: -26px;

    }
    .div2{
        margin: 0 auto;
    
    position: relative;
    padding: 150px 35px 200px 35px;

    border-radius: 50px;
    }
    .div33{
        display: flex;
        flex-direction: column;
       
        height: max-content;
        position: relative;
        padding: 0px 20px 20px 20px;
        border-radius: 34px;
        cursor: pointer;
    }
    .div3{
        display: flex;
        flex-direction: column;
        background: white;
        height: max-content;
        position: relative;
        text-align: center;
        border-radius: 34px;
        cursor: pointer;
    }
   .track{
    background-color: #0277B5;
   }
    .tr{
display: flex;
    margin-top: 0;
        position: relative;
        background-color: #d3e5f8;
        height: 90px;
        border-radius: 34px;
     font-size:29px ;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
justify-content: space-around;
align-items: center;
  
    }
    .loc{
        color: black;
margin-top: 30px;
    position: relative;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    .location{
        background-color: #f4f7fe;
        height: 30px;
       margin-right: 45px;
       margin-left: 45px;
 margin-top: 10px;
 margin-bottom: 50px;
        position: relative;
     
        border: 0px solid #f4f7fe;
        font-family: 'Rubik', sans-serif;
        padding-left: 20px;
        font-size: 25px;
      
    
    }
    .done{
        font-weight: bold;
        font-style:normal;
      font-size: 20px;
      cursor: pointer;
      align-self: center;
      height:40px;
      width: 97px;
      text-align: center;
      line-height: 40px;
      border-radius: 20px;
    position: relative;
      border:none;
      bottom: 5px;
   
     
    
  
    }
  .fa-id-card {
 
 
    position: relative;
    font-size: 28px;
    color: #d0cdcd;
   
}
.fas {
    position: relative;
    font-size: 30px;
    color: #767171;
}
.div3{
    margin: 0 auto;
    display: flex;
position: relative;
flex-direction: column;
border-radius: 50px;
}
.out {
    align-items: center;
    display: grid;
    margin: 0 5px;
    background: white;
    height: max-content;
    padding: 20px;
    position: relative;
    margin-top: 40px;
    border-radius: 54px;
    cursor: pointer;
    grid-template-rows: 35% 35% 35% ;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.num{
grid-area: 1/1/1/5;
color: black;

position: relative;
font-weight: bold;
font-size: 22px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tran{
    color: orange;
    font-weight: bold;
grid-area: 1/5/1/6;
position: relative;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.slider{
    grid-area: 2/1/2/6 ;
   

}
.source{
grid-area: 3/1/3/4;
font-weight: bold;

position: relative;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dest{
grid-area: 3/4/3/6;

font-weight: bold;

position: relative;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
word-wrap: break-word;
}
    .trac{
        font-weight: bold;
margin-left: 12px;
position: relative;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-bottom: 0;
    }
    .did{
        display: grid;
        margin: 15px 5px;
        background: white;
        height: max-content;
     
        position: relative;
        border-radius: 44px;
        cursor: pointer;
        grid-template-rows: repeat(1,1fr) ;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        word-wrap: break-word;
    }
    .s1{
        color: black;
grid-area: 1/1/1/2;
        position: relative;
        font-size: 22px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .deg{
        color: black;
grid-area: 1/2/1/2;
        position: relative;
        font-size: 22px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .tim{
        color: black;
grid-area: 1/3/1/3;
        position: relative;
        font-size: 22px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .submits{
        border: none;
        color: black;
        font-family: "Protest Strike", sans-serif;
        font-weight: bold;
          font-style:normal;
        font-size: 20px;
        cursor: pointer;
        background-color: #0277B5;
        height:40px;
        width: 97px;
        text-align: center;
        line-height: 40px;
        border-radius: 20px;
        margin: 20px auto;
        position: relative;
    }
    .anchor{
        text-decoration: none;
        color: black;
    }
}