

.div1{
   
    font-family: 'Rubik', sans-serif;
}
.home{
    background-color: #7a7e82;
    text-align: center;
}
.write{
    background: linear-gradient(to right, black, #0277B5);
}

.wr{
    background: linear-gradient(to right, black, #8BB9E8);
}
.read{
    background: linear-gradient(to bottom,black, #8BB9E8 );
}
.Rr{
    background: linear-gradient(to right, black, #8BB9E8);
}

.R1, .R2, .t1, .t2, .w1, .w2{
    color: white;
}
.track{
    background: linear-gradient(to bottom,black, #8BB9E8 );
}
.tr{
    background: linear-gradient(to right, black, #8BB9E8);
}


@media  screen and (max-width: 480px){
    .home{
        height: 40px;
        width: 81px;
        margin-top: 4px;
        line-height: 40px;
        border-radius: 40px;
    }
      .div1{

height: 60px;
        

display: flex;
line-height: 6px;
justify-content: space-around;
font-size: 23px;
margin: 20px auto;
}
.logo{
    border-radius: 30px;
}
.fa-circle-user{
   margin-top: 16px;
}

.ww , .rr, .tt{
    color: white;
    
    position: relative;

    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}




.write{
    display: grid;
  
    height: 160px;
    width: 270px;
    margin: 10px auto 0 auto;
    border-radius: 40px;
    cursor: pointer;
grid-template-rows: 15% 15% 1fr 17% 1fr;
grid-template-columns: 20% 20% 20% 20% 20% 20%;
align-items: end;

}
.w1{
   
width: 0px;
margin: 0px 10px 1px 45px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    grid-area: 3/1/3/5;
}
.w2{
 

margin:5px 1px 1px 70px;

    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    grid-area: 4/1/4/6;
}
.wr{
   
    border: 4px solid white;
    height: 80px;
    width: 80px;
    margin: 0px 1px 1px 202px;
    border-radius: 50px;
    cursor: pointer;
    grid-area: 1/1/4/2;

}
.read{
    display: grid;

    height: 160px;
    width: 270px;
    margin: 75px auto 0 auto;
    border-radius: 40px;
    cursor: pointer;
    grid-template-rows: 25% 15% 10% 1fr 1fr;
grid-template-columns: 20% 20% 20% 20% 20% 20%;
align-items: end;
}
.Rr{
  
    border: 4px solid white;
    height: 80px;
    width: 80px;
   
    border-radius: 50px;
    cursor: pointer;
    grid-area: 1/3/3/6;
}
.R1{
  
    width: 0px;
    margin: 0px 10px 1px 45px;
        cursor: pointer;
        font-family: 'Rubik', sans-serif;
        grid-area: 3/1/3/5;
}
.R2{
 

    margin:5px 1px 1px 70px;
    
        cursor: pointer;
        font-family: 'Rubik', sans-serif;
        grid-area: 4/1/4/6;
        word-wrap: break-word;
}
.track{
    display: grid;

    height: 160px;
    width: 270px;
    margin: 75px auto 0 auto;
    border-radius: 40px;
    cursor: pointer;
    grid-template-rows: 25% 15% 10% 1fr 40%;
grid-template-columns:  20% 20% 20% 20% 20% 20%;
align-items: end;
}
.tr{
   
    border: 4px solid white;
    height: 80px;
    width: 80px;
    margin: 0px 20px 0px 0px;
    border-radius: 50px;
    cursor: pointer;
    grid-area: 1/1/6/-1;
}
.t1{

    width: 0px;
    margin: 0px 10px 1px 45px;
        cursor: pointer;
        font-family: 'Rubik', sans-serif;
        grid-area: 3/1/3/5;
}
.t2{
  

    margin:5px 1px 1px 70px;
    
        cursor: pointer;
        font-family: 'Rubik', sans-serif;
        grid-area: 4/1/4/6;
        word-wrap: break-word;
}
}