
.container{
    background-color: white;
}

.div1{
    background-color: #d3e5f8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.div2{
    background-color: #e2ebf4;
    
}
.div3{
    background-color: #e2ebf4;
    
}
.read{
    color: #0277B5;
    
  
}
.back2{
    background-color: #e2ebf4;
}
.loc{
    font-family: "Protest Strike", sans-serif;
}
.location{
    background-color: #f2f4f6;
}
.done{
    position: relative;
    border:none;
    color: black;
    background-color: #0277B5;
    font-family: "Protest Strike", sans-serif;
}
.color{
color: #0277B5;
}
.pr1, .bn1, .mno1, .so1, .de1, .padate, .exdate, .place, .no, .tag, .pass, .name, .model,
.batch, .source, .de, .pa, .ex, .p1, .num, .tagid, .pas{
    color: black;
    position:relative ;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    margin-bottom: 0;
}
.submit{
    border: none;
    background-color: #0277B5;
}
.out{
    background-color: white;
}
.fa-triangle-exclamation{
color: rgb(235, 8, 8);
    
}
@media  screen and (max-width: 480px){
    .div1{ 
        display: flex;
        height: 60px;
     
        border-radius: 30px;
      
    align-items: center;
      justify-content: space-around;
       line-height: 6px;
     
        font-size: 27px;
        margin: 20px auto;
    }
    .div1  p{
        
        list-style: none;
        display: inline-block;
        margin: 0 19px;
        position: relative;
    }
  

    .div1  p a{
        text-decoration: none;
        color:black;
     
    }
    .hii{  
        color: #0277B5;
    }

    .hii::before{
        content: '';
        height: 7px;
        color: #0277B5;
        width: 100%;
        background: #0277B5;
        align-self: center;
        position: absolute;
        left: 0;
        bottom: -26px;

    }
  
.back2{
    padding: 29px 29px 19px 29px;
    display: flex;
    position: relative;
    border-radius: 50px;
    margin: 22px auto ;

    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
   align-content: center;
}


.loc{
  
    font-size: 21px;
  text-align: center;
font-weight: bold;
  font-style: normal;
  word-wrap: break-word;
  margin-bottom: 20px;
}
.location{   
    height: 54px;
    border-radius: 45px;
    border: 0px solid #f2f4f6;
   word-wrap: break-word;
    padding-left: 20px;
   width: 95%;
    font-size: 25px;
    margin-bottom: 476px;

}
.done{
    position: relative;
    border:none;
    font-weight: bold;
    font-style:normal;
  font-size: 20px;
  cursor: pointer;
  height:40px;
  width: 97px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
}

.div2{
    margin: 0 auto;
    display: flex;
position: relative;
padding: 10px 10px 10px 20px;
flex-direction: column;
border-radius: 50px;
}

.detail{
    color: black;
    position:relative ;
    font-weight: bold;
      font-style: normal;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    margin-bottom: 2px;

}
.pr1, .bn1, .mno1, .so1, .de1, .padate, .exdate, .place, .no, .tag, .pass, .name, .model,
.batch, .source, .de, .pa, .ex, .p1, .num, .tagid, .pas{
    color: black;
    position:relative ;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    margin-bottom: 0;
}
.submit{   color: black;
    border: none;
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
      font-style:normal;
    
    font-size: 20px;
    cursor: pointer;
  

    height:40px;
    width: 97px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin: 20px auto;
    position: relative;
}
.div3{
    margin: 0 auto;
    display: flex;
position: relative;
padding: 10px 15px 10px 15px;
flex-direction: column;
border-radius: 50px;
}
.out {
    display: flex;
    margin: 0 5px;
    flex-direction: column;
    height: max-content;
    padding: 14px;
    position: relative;
    margin-top: 40px;
   text-align: center;
    border-radius: 34px;
    cursor: pointer;
}

.warn{
 margin-top: 0px;
    color: black;
    align-self: center;
    position:relative;
    margin-bottom: 0px;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.info{
    color: black;
    position:relative ;
   margin-top: 0px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
}
.fa-triangle-exclamation{
   margin-top: 5px;
    position: relative;
    font-size: 30px;
    margin-bottom: 2px;
}
.detail2{
    color: black;
    position:relative; ; 
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2px;
}
.anchor{
    text-decoration: none;
    color: black;
}
.submits{
    border: none;
    color: black;
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
      font-style:normal;
    font-size: 20px;
    cursor: pointer;
    background-color: #0277B5;
    height:40px;
    width: 97px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin: 20px auto;
    position: relative;;
}
}