.container{
    background-color: white;
}

.div1{
    background-color: #d3e5f8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.write{
    color: #0277B5;
    
  
}

.div22{
    background-color: #e2ebf4;
}
.back2{
    background-color: #e2ebf4;
}


.color{
color: #0277B5;
}
.details{
    color: black;
    
    position:relative ;
    
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pr1, .sa1{
    color: black;
    position:relative ; 
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.pr2, .sa2{
    
        background-color: #f4f7fe;
     
}
input::placeholder{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 1px;
    padding-top: 1px;
}
.bn1, .da1{
    color: black;
  
    position:relative;
    
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.bn2, .da2{
    background-color: #f4f7fe;
       

}
.mno1, .md1{
    color: black;
 
    position:relative;

    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.mno2, .md2{
    background-color: #f4f7fe;
      

}
.n1, .ed1{
    color: black;
   
    position:relative ;

    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.n2, .ed2{
    background-color: #f4f7fe;
       

}
.mna1, .max1, .min1{
    color: black;
 
    position:relative ;
   
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.mna2, .max2, .min2{
    background-color: #f4f7fe;
   

}
.next{
     
    border: none ;
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
    font-style:normal;
    
    font-size: 20px;
    cursor: pointer;

    color: black;
    background-color: #0277B5;
    height:40px;
    width: 97px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
 
    position: relative;
  



}
.nexts{
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
      font-style:normal;
    border: none;
    font-size: 20px;
    cursor: pointer;
  text-decoration: none;
    color: black;
    background-color: #0277B5;
    height:40px;
    width: 97px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
}
.div22, .div2{
    
}

@media  screen and (max-width: 480px){

    .div1{ 
        display: flex;
        height: 60px;
     
        border-radius: 30px;
      
    align-items: center;
      justify-content: space-around;
       line-height: 6px;
     
        font-size: 27px;
        margin: 20px auto;
    }
    .div1  p{
        
        list-style: none;
        display: inline-block;
        margin: 0 19px;
        position: relative;
    }
  
    .hii{
        
        color: #0277B5;
    }
    .div1  p a{
        text-decoration: none;
        color:black;
     
    }

    .hii::before{
        content: '';
        height: 7px;
      color: #0277B5;
        width: 100%;
        background: #0277B5;
        position: absolute;
        left: 0;
        bottom: -26px;

    }
.div22{
    padding: 10px;
    position: relative;
   background-size: auto;
    border-radius: 40px;
}

.div2{
    position: relative;
    align-items: center;
   
    display: grid;
  height: 697px;
    grid-template-columns: 10% 20% 10% 40% 7% 10%;
    grid-template-rows: repeat(12,1fr)
}
.div21{
    position: relative;
    align-items: center;
   
    display: grid;
  height: 697px;
    grid-template-columns: 10% 25% 20% 25% 7% 10%;
    grid-template-rows: repeat(12,1fr)
}
.mna2, .n2, .mno2, .bn2, .pr2, .sa2, .pa2, .md2, .ed2, .da2, .max2, .min2{
    height: 33px;
     
    position:relative ;
   
    border: 0px solid #f4f7fe;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    font-size: 25px;
}
.next{
     
    border: none;
        font-family: "Protest Strike", sans-serif;
        font-weight: bold;
        font-style:normal;
        
        font-size: 20px;
        cursor: pointer;

        color: black;
        background-color: #0277B5;
        height:40px;
        width: 97px;
        text-align: center;
        line-height: 40px;
        border-radius: 20px;
     
        position: relative;
      
    
    
    
}
.anchor{
    text-decoration: none;
    color: black;
}
.nexts{
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
      font-style:normal;
    border: none;
    font-size: 20px;
    cursor: pointer;
  text-decoration: none;
    color: black;
    background-color: #0277B5;
    height:40px;
    width: 97px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
}
.details{
    grid-area: 1/3/1/4;
    align-self: center;
    margin-bottom: 0px;
  
}
.pr1, .sa1{
    grid-area: 2/2/2/5;
}
.pr2, .sa2{
    grid-area:3/2/3/6;
}
.bn1, .da1{
    grid-area: 4/2/4/5;
}
.bn2, .da2{
    grid-area: 5/2/5/6;
}
.mno1, .md1{
    grid-area: 6/2/6/5;
}
.mno2,.md2{
    grid-area: 7/2/7/6;
}
.n1, .ed1{
    grid-area: 8/2/8/5;
}
.n2, .ed2{
    grid-area: 9/2/9/6;
}
.mna1{
    grid-area: 10/2/10/5;
}
.mna2{
    grid-area: 11/2/11/6;
}
.max1{
grid-area: 10/2/10/4;
}
.max2{
    grid-area: 11/2/11/3;
}
.min1{
    grid-area: 10/4/10/6;
}
.min2{
    grid-area: 11/4/11/5;
}
.next{
    grid-area: 12/4/12/4;
    
}
.nexts{
    grid-area: 12/3/12/4;
    
}
.no1{
line-height: 38px;
   margin-bottom: 0px;
    background-color: #f4f7fe;
    position:relative;
    height: 40px;
    width: 40px;
    border-radius: 81px;
   font-size: 23px;
    border: 4px solid #0277B5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  
}

}