<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet"  href="{% static 'signin.css' %}">
    
    <title>Signin</title>
</head>
<body>
  <div class="container">
    <div class="div1">
      <img class="logo" src="{% static '/photo/logo.jpg' %}" >
      <img class="image"src="{% static '/photo/user.png' %}">
    </div>
    <div>
    <form action="{% url 'register' %}" method="post" class="div2">
      {% csrf_token %}
        <h2 class="heading">Let's get something</h2>
        <p class="sub">good to see you back.</p>
        
        <input type="email"class="user" name="email" placeholder="email">
        <input type="password" class="password" name="password" placeholder="password">
     
   
    
   
  <p class="color">{{error}}</p>
    <p class="signup">Already have an account?<a class="anchor" href="signup.html" > sign up</a></p>
    <button type="submit" class="drag">Sign in</button>
  
   </form>
  </div>
    </div>
</div>
</body>