<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet"  href="{% static 'signup.css' %}">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <div class="div1">
            <img class="logo" src="{% static '/photo/logo.jpg' %}" >
            <img class="image"src="{% static '/photo/user.png' %}">
        </div>
        <div >
            <form  action="{% url 'register1' %}" method="post" class="div2">
                {%csrf_token%}
        <h2 class="heading">Getting started</h2>
        <p class="sub">create your account to continue</p>
        
        <input class="gmail" name="email" type="email" placeholder="gmail">
        <input class="user" name="user" type="text" placeholder="username">
        <input class="pass" name="pass" type="password" placeholder="password">
     
   
    
   
  <p class="color">{{error}}</p>
    <p class="signup">Already have an account?<a class="anchor" href="signin.html" > sign in</a></p>
    <button type="submit" class="drag">Sign up</button>

    </p>
</form></div>
        </div>
</body>