<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet"  href="{% static 'write.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Write1</title>
</head>
<body>
    <div class="container">
        <div class="div1">
            <p><a  class="hii" >Write</a></p>
            <p><a   href="{% url 'read' %}">Read</a></p>
            <p><a   href="{% url 'track' %}">Track</a></p>
      </div>
 <div class="div22">
  
    <form action="{% url 'register_w1' %}"  method="post" class="div2" >
        {%csrf_token%}
        <p class="details">details:</p>
        <p class="no1">1</p>
        
    <label class="pr1" for="prname">Product name     </label>
    <input class="pr2" type="text" name="prname" placeholder="Enter the Name">
    <label class="bn1" for="batchno">Batch no      </label>
    <input class="bn2" type="number"  name="batchno" placeholder="Enter the Number">
    <label class="mno1" for="modelno">Model no </label>
    <input class="mno2" type="number" name="modelno" placeholder="Enter the Number">
    <label class="n1" for="quantity">No. of. quantity    </label>
    <input class="n2" type="number"  name="quantity" placeholder="Enter the Number">
    <label class="mna1" for="maname">Manufacturing name   </label>
    <input class="mna2" type="text"  name="maname" placeholder="Enter the Name">
    <button class="next" type='submit'> 
        Next
   </a> </button>
</form>

  


 </div>
</body>
</html>